<meta charset="utf-8"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: black;
        font-size: 80pt;
    }
    p {
        font-size: 40pt;
    }
</style>
<head>
</head>
<body style="background-color:#DC143C" >
<div>
    <h1>STOP!  Insulin Vial Stale!</h1><br>
    <p>Item {{ item }} for {{ userName }} </p>
	<p>was activated on {{ ts }}, so stale by {{ timeexpired }}.</p>

	<a href="https://insulin-tracker.herokuapp.com/?n={{userName}}&i={{item}}&r=1&">Reset this vial</a>
</div>
</body>